.place__title {
  width: calc((100% - 40px) * 0.4872);
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  color: #ffffff;
  padding: 0;
}

@media screen and (max-width: 769px) {
  .place__title {
    width: calc((100% - 28px) * 0.49133);
    font-size: 42px;
  }
}

@media screen and (max-width: 321px) {
  .place__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.09;
  }
}
