.place__title {
  background-color: aqua;
  width: calc((100% - 40px) * 0.4872);
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  color: #ffffff;
  border: solid 1px red;
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__title {
    width: 49.13%;
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.09;
    order: 1;
  }
}
