.page {
  margin: auto;
  padding: 0;
  max-width: 1280px;
  background-color: #2a2c2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 24px;
  row-gap: 92px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page {
    row-gap: 0px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    row-gap: 0;
    max-width: 320px;
    padding-top: 20px;
  }
}
