.places {
  width: 77.1%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .places {
    width: 93.75%;
    margin: 0;
  }
}

@media screen and (max-width: 321px) {
  .places {
    width: 100%;
    margin: 0;
    border: solid 1px blue;
  }
}
