.places {
  width: 77.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 575px) and (max-width: 896px) {
  .places {
    width: 93.75%;
    margin: 0 auto 92px auto;
  }
}

@media screen and (max-width: 575px) {
  .places {
    width: 100%;
    margin: 0;
    margin: 0 auto 64px auto;
  }
}
