.place__image {
  border: solid 1px pink;
  width: 100%;
  background-size: contain;
  margin: 0 0 48px 0;
  grid-column: 1 /2;
  grid-row: 3/ 7;
}

@media screen and (min-width: 320px) and (max-width: 446px) {
  .place__image {
    width: 76%;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
