.place__image {
  border: solid 1px pink;
  width: 100%;
  background-size: contain;
  margin: 48px 0 48px 0;
  grid-area: image;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .place__image {
    margin: 0 0 46px 0;
  }
}

@media screen and (max-width: 321px) {
  .place__image {
    width: 90%;
    margin: 0;
    order: 4;
  }
}
