.place__image {
  max-width: 100%;
  object-fit: cover;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
    margin: 0;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
