.frame__text {
  /*width: 32.012%;*/
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  grid-area: frame;
}
