.lead {
  border: solid 1px red;
  display: flex;
  width: 76.875%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

@media screen and (max-width: 321px) {
  .lead {
    width: 90%;
  }
}
