.cover__subtitle {
  border: solid 1px red;
  width: 42.68%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
