.cover__subtitle {
  width: 42.68%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 522px) {
  .cover__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 321px) {
  .cover__subtitle {
    width: 97.22%;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 246px) {
  .cover__subtitle {
    font-size: 8px;
  }
}
