.intro__open-text {
  width: 70.99%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4166;
  color: #ffffff;
  padding: 0;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 769px) {
  .intro__open-text {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 321px) {
  .intro__open-text {
    line-height: 1.25;
  }
}
