.lead__title {
  width: 80.58%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.041;
  text-align: center;
  padding: 0;
  margin: 0 auto 32px auto;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  .lead__title {
    width: 100%;
    margin: 0 0 99px 0;
  }
}

@media screen and (max-width: 522px) {
  .lead__title {
    font-size: 76px;
  }
}

@media screen and (max-width: 321px) {
  .lead__title {
    width: 100%;
    margin: 0 0 60px 0;
    font-size: 40px;
    line-height: 1.1;
  }
}
