.lead__title {
  border: solid 1px red;
  width: 80.58%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  padding: 0;
  margin: 0 auto 32px auto;

  color: #ffffff;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__title {
    width: 100%;
    margin: 0 0 99px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 100%;
    margin: 0 0 60px 0;
    font-size: 40px;
    line-height: 1.1;
  }
}
