.logo {
  width: 21.09375%;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 769px) {
  .logo {
    width: 35.15%;
    margin: 0 auto 90px auto;
  }
}

@media screen and (max-width: 321px) {
  .logo {
    width: 62.5%;
    margin: 0 auto 50.15px auto;
  }
}
