.place__paragraph {
  border: dashed 1px white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  display: flexbox;
  grid-column: 2/3;
=======
  grid-column: 2/3;
}

@media screen and (max-width: 321px) {
  .place__paragraph {
    width: 90%;
    font-size: 16px;
    line-height: 163%;
    /*grid-area: place__paragraph;*/
    margin: 0 0 7px 0;
    order: 5;
  }
>>>>>>> place/featureGrid
}
