.frame {
  width: 36.07%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  background-image: ("frame__square.jpg");
}
