.lead__image {
  width: 100%;
  background-image: ("lead-image-opacity.png");
  background: #000000;
  mix-blend-mode: luminosity;
}

@media screen and (max-width: 321px) {
  .lead__image {
    width: 111.11%;
  }
}
