.cover {
  border: solid 1px red;
  width: 92.5%;
  margin: 0 auto 0 auto;
  align-items: center;
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url(../../images/cover-background.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 243px;
  padding-bottom: 243px;
}

@media screen and (max-width: 321px) {
  .cover {
    width: 100%;
    margin: 0;
    gap: 16px;
  }
}
