.cover {
  width: 92.5%;
  margin: 0 auto 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(42, 44, 47, 0.3)),
      to(rgba(42, 44, 47, 0.3))
    ),
    url(../../images/cover-background.jpg) no-repeat center center;
  background: -o-linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url(../../images/cover-background.jpg) no-repeat center center;
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
    url(../../images/cover-background.jpg) no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 243px;
  padding-bottom: 243px;
}

.cover:hover {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(42, 44, 47, 0.8)),
      to(rgba(42, 44, 47, 0.8))
    ),
    url(../../images/cover-background.jpg) no-repeat center center;
  background: -o-linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url(../../images/cover-background.jpg) no-repeat center center;
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)),
    url(../../images/cover-background.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cover {
    width: 100%;
    padding-top: 243px;
    padding-bottom: 243px;
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
    padding: 46px 0 45px 0;
    margin: 0 auto 64px auto;
  }
}
