.place__artist-heading {
  width: 11.98%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 522px) {
  .place__artist-heading {
    font-size: 6px;
  }
}
