.place__artist-heading {
  border: solid 1px red;
  width: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  text-decoration: none;
  grid-area: artist;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 0 8px 0;
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/2;
}

@media screen and (min-width: 320px) and (max-width: 446px) {
  .place__artist-heading {
    width: 100%;
    font-size: 9px;
  }
}

@media screen and (max-width: 320px) {
  .place__artist-heading {
    width: 90%;
    margin: 0 0 8px 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
