.cover__buy-button {
  border: solid 1px red;
  width: 16.72%;
  background: #0278fe;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
  color: #ffffff;
}
