.cover__buy-button {
  width: 24.08536%;
  background: #0278fe;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin: 0;
  padding: 13px 3.06%;
}

.cover__buy-button:hover {
  background: #0063d2;
}

@media screen and (max-width: 522px) {
  .cover__buy-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 321px) {
  .cover__buy-button {
    width: 54.8611%;
    padding: 13px 6.99%;
  }
}

@media screen and (max-width: 321px) {
  .cover__buy-button {
    font-size: 6px;
    width: 25%;
    padding: 6px 6%;
  }
}
