.place__NFT-button {
  width: 77.17%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  background: #0278fe;
  border-radius: 4px;
  padding: 4.12% 20px;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 2/3;
  align-self: flex-start;
}

.place__NFT-button:hover {
  background: #0063d2;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__NFT-button {
    width: 104.4%;
    padding: 3.66% 20px;
  }
}

@media screen and (max-width: 320px) {
  .place__NFT-button {
    margin: 0 auto 0 auto;
    padding: 0;
    width: 90%;
    font-size: 14px;
    line-height: 1.21;
  }
}
