.place__NFT-button {
  width: 77.17%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  background: #0278fe;
  border-radius: 4px;
  grid-area: frame;
  padding: 4.12% 20px;
  display: block;
  margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .place__NFT-button {
    width: 100%;
    margin: 0 0 72px 0;
  }
}

@media screen and (max-width: 321px) {
  .place__frame {
    width: 90%;
    margin: 0;
    font-size: 14px;
    line-height: 1.21;
    order: 7;
    /*grid-area: place__frame;*/
  }
}
