.place__NFT-button {
  width: 77.17%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  background-color: #0278fe;
  border-radius: 4px;
  grid-area: frame;
  padding: 4.12% 20px;
  display: inline;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.place__NFT-button a:hover {
  background: #0063d2;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .place__NFT-button {
    width: 100%;
    grid-area: unset;
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
}

@media screen and (max-width: 320px) {
  .place__NFT-button {
    width: 90%;
    font-size: 14px;
    line-height: 1.21;
    order: 7;
  }
}
