.cover__title {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  color: #fffdfd;
  margin: 0;
}

@media screen and (max-width: 522px) {
  .cover__title {
    font-size: 55px;
  }
}

@media screen and (max-width: 321px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 246px) {
  .cover__title {
    font-size: 18px;
  }
}
