.cover__title {
  border: solid 1px blue;
  width: 55.4%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffdfd;
  z-index: 1;
}

@media screen and (max-width: 321px) {
  .cover__title {
    width: 90%;
    font-size: 32px;
    line-height: 1.09;
  }
}
