.intro__main-text {
  width: 70.79%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  padding: 0;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 769px) {
  .intro__main-text {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 522px) {
  .intro__main-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 321px) {
  .intro__main-text {
    line-height: 1.63;
  }
}
