.place {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  column-gap: 40px;
}

.place:nth-child(1) {
  margin: 0 0 80px 0;
  padding: 0;
}

.place:nth-child(2) {
  /*background-color: blue;*/
  /*border: dashed 1px blue;*/
  margin: 0 0 35px 0;
  padding: 0;
}

.place:nth-child(3) {
  /*background-color: red;*/
  /*border: dashed 1px red;*/
  margin: 0 0 80px 0;
  padding: 0;
}

.place:nth-child(4) {
  /*background-color: green;*/
  /*border: dashed 1px green;*/
  margin: 0 0 51px 0;
  padding: 0;
}

.place:nth-child(5) {
  /*background-color: yellow;*/
  /*border: dashed 1px yellow;*/
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place:nth-child(1) {
    background-color: pink;
    margin: 0 0 52px 0;
  }

  .place:nth-child(2) {
    background-color: green;
    margin: 0 0 46px 0;
    padding: 0;
  }

  .place:nth-child(3) {
    background-color: red;
    margin: 0 0 25px 0;
    padding: 0;
  }

  .place:nth-child(4) {
    background-color: purple;
    margin: 0 0 41px 0;
    padding: 0;
  }

  .place:nth-child(5) {
    background-color: orange;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 446px) {
  .place {
    column-gap: 5px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .place:nth-child(1) {
    background-color: pink;
    margin: 0 0 16px 0;
  }

  .place:nth-child(2) {
    background-color: green;
    margin: 0 0 36px 0;
    padding: 0;
  }

  .place:nth-child(3) {
    background-color: red;
    margin: 0 0 17px 0;
    padding: 0;
  }

  .place:nth-child(4) {
    background-color: purple;
    margin: 0 0 50px 0;
    padding: 0;
  }

  .place:nth-child(5) {
    background-color: orange;
    margin: 0;
    padding: 0;
  }
}
