.place {
  width: 100%;
  display: grid;
  column-gap: 40px;
  grid-template-areas:
    "title  artist"
    "title  name"
    "image  text-intro "
    "image  text-main "
    "image  text-plus "
    "frame   text-plus";
}

.place:nth-child(1) {
  background-color: blueviolet;
  margin: 0 0 80px 0;
  padding: 0;
}

.place:nth-child(2) {
  background-color: blue;
  margin: 0 0 35px 0;
  padding: 0;
}

.place:nth-child(3) {
  background-color: red;
  margin: 0 0 80px 0;
  padding: 0;
}

.place:nth-child(4) {
  background-color: green;
  margin: 0 0 51px 0;
  padding: 0;
}

.place:nth-child(5) {
  background-color: yellow;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 321px) {
  .place {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    /*grid;
    grid-template-areas:
      "place__title"
      "place__artist-heading"
      "place__artist-name"
      "place__image"
      "place__paragraph"
      "place__paragraph"
      "place__frame";*/
  }
}
