.footer {
  width: 14.92%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 769px) {
  .footer {
    width: 24.86%;
    margin: 0;
  }
}

@media screen and (max-width: 321px) {
  .footer {
    width: 59.68%;
  }
}
