.place__artist-name {
  border: dashed 1px yellow;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0;
  text-decoration: none;
  grid-area: name;
  margin: 8px 28px 0 0;
}

@media screen and (max-width: 321px) {
  .place__artist-name {
    width: 90%;
    margin: 0 0 30px 0;
    order: 3;
    /*grid-area: place__artist-name;*/
  }
}
