.place__artist-name {
  border: dashed 1px yellow;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  grid-area: name;
}
