.place__artist-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /*line-height: 1.22px;*/
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  background-color: blueviolet;
  /*width: 94.21%;*/
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .place__artist-name {
    width: 100%;
  }
}
