.place__artist {
  width: calc((100% - 40px) * 0.5127);

  margin: 0;
  padding: 0;

  border: dashed 1px white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 8px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__artist {
    width: 50.86%;
  }
}
