.place__artist {
  width: calc((100% - 40px) * 0.5127);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  row-gap: 8px;
}

@media screen and (max-width: 769px) {
  .place__artist {
    width: calc((100% - 28px) * 0.5086);
  }
}

@media screen and (max-width: 321px) {
  .place__artist {
    width: 100%;
  }
}
