.intro__title {
  border: solid 1px red;
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 auto 40px 0;

  color: #ffffff;
}
