.intro__title {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 0 40px 0;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  .intro__title {
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 522px) {
  .intro__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 321px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 9px 0;
  }
}

@media screen and (max-width: 246px) {
  .intro__title {
    font-size: 22px;
  }
}
